<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Railway</title>
</head>
<body>
    <h1>Hola, soy una app que contiene todos los servicios de manera distribuida</h1>

    <label>Heroku</label><br>
    <a href="https://grupo6.up.railway.app/"><label>Railway</label></a><br>
    <label>Digital Ocean</label><br>
    <label>Vercel</label><br>
    <label>SAAS 1</label><br>
    <label>SAAS 2</label><br>
</body>
</html>