<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Main</title>
</head>
<body>
    <h1>Hola, soy una app que contiene todos los servicios de manera distribuida</h1>

    <ul>
        <li><a href="https://herokud1-03800266aff2.herokuapp.com/" target="_blank"><label>Heroku</label></a></li>
        <li><a href="https://grupo6.up.railway.app/" target="_blank"><label>Railway</label></a></li>
        <li><a href="https://versel-cyan.vercel.app/" target="_blank"><label>Vercel</label></a></li>
        <li><a href="https://ejercicio2-paas-y36rn.ondigitalocean.app/" target="_blank"><label>Digital Ocean</label></a></li>
        <li><a href="/chuck_norris" target="_blank"><label>Chuck Norris</label></a></li>
        <li><a href="https://pokeapi-qotm.onrender.com/" target="_blank"><label>Poke API</label></a></li>
    </ul>

</body>
</html>